@model IEnumerable<Teacher>

@{
	ViewData["Title"] = "Index";
}
@await Component.InvokeAsync(ViewComponentConstants.BreadCrumbs)
<div class="row">
	<div class="col s12">
		<h2>Docenten</h2>
		@await Html.PartialAsync("_CreateButton", "Docent")
		<app-data-table data-records='@Html.Raw(Json.Serialize(Model.ToList()))'
						data-limit="10"
						data-columns="fullName:Naam"
						data-url_details="@Url.Action("details", "teacher", null)" />
	</div>
</div>