@model int
@{
    var statusCode = Model;
    var statusMessage = "";
    switch (statusCode)
    {
        case 400:
            statusMessage = "Bad request: The request cannot be fulfilled due to bad syntax";
            break;
        case 403:
            statusMessage = "Forbidden";
            break;
        case 404:
            statusMessage = "Page not found";
            break;
        case 408:
            statusMessage = "The server timed out waiting for the request";
            break;
        case 500:
            statusMessage = "Internal Server Error - server was unable to finish processing the request";
            break;
        default:
            statusMessage = "That’s odd... Something we didn't expect happened";
            break;
    }
}

@{
    ViewData["Title"] = @Model + " - " + @statusMessage;
}

<div class="row">
    <div class="col s12">
        <div class="card-panel grey lighten-3">
            <h1>Error @Model</h1>
            <h3>@statusMessage</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div class="error-actions">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-lg">
                <i class="fa fa-home"></i>
                Terug naar home
            </a>
        </div>
    </div>
</div>