@font-face {
	font-family: "Frutiger";
	src: url('../fonts/Frutiger-LT-Std-45-Light_18818.ttf');
	font-weight: normal;
}

@font-face {
	font-family: "Frutiger";
	src: url('../fonts/Frutiger_LT_Std_45_Light_Italic.otf');
	font-style: italic;
}

@font-face {
	font-family: "Frutiger";
	src: url('../fonts/Frutiger_LT_Std_55_Roman_Regular.otf');
	font-weight: bold;
}
