@import "_variables.scss";

.multi-select {
	width: 100%;
	padding: 1em;
	background-color: whitesmoke;
	border-radius: 0.5em;
	position: relative;

	.scroll-pane {
		max-height: 15em;
		overflow-y: auto;

		p {
			padding-top: 1px;
			padding-bottom: 1px;
			margin-top: 1px;
			margin-bottom: 1px;

			span {
				font-size: 0.95em !important;
				color: black;
			}
		}
	}
}